@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-noto-serif), ui-serif, Georgia, serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
